body {
    background: url("../images/GiphyBackground.jpg") no-repeat center center fixed;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover 100% 100%;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
}



h1   {
	color: black;
	background-color: #fd8c24;
	font-size:  100px;
	text-align: center;
}

#footerA  {
	background-color: black;
	color: orange;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	padding: 25px;
}